<!DOCTYPE html>

<!-- 
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

<th:block th:fragment="content">

<div>

	<form action="/movies/list">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>

	<div style="width:100%; display: flex; flex-wrap: wrap;">
	    
	    <div th:each="dto : ${list}" style="padding: 3px; background-color: black;">
	        <a th:href="@{/movies/read(movieId=${dto.movieId})}">
	       		<img th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${dto.posterPath})}" alt="" width="250px">
	       	</a>
	    </div>
	
	</div>
</div>



</th:block>

</th:block>
 -->


<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ott</title>

<!-- favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/search.css">

<!-- jQuery -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- js -->
<script defer th:src="@{/js/scripts.js}"></script>

<!-- font awesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

	<div class="wrap">
		<th:block
			th:replace="~{/common/header :: setContent(~{this::content})}"></th:block>

		<!-- 검색 -->
		<div class="search_box">
			<form class="search_box-form" action="/movies/list">
				<input type="text" placeholder="영화검색" name="search">
				<button type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>

			<div class="search_box-movid">
				<div th:each="dto : ${list}">
					<a th:href="@{/movies/read(movieId=${dto.movieId})}"> <img
						th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${dto.posterPath})}"
						alt="">
					</a>
				</div>
			</div>
		</div>

		<th:block
			th:replace="~{/common/footer :: setContent(~{this::content})}"></th:block>
	</div>
</body>
</html>

