<!-- <!DOCTYPE html>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

<th:block th:fragment="content">

<h1 class="mt-4">Movie Read Page</h1>

<div class="form-group">
  <img th:src="@{https://image.tmdb.org/t/p/original{backdrop}(backdrop=${dto.backdropPath})}" alt="" width="500">
</div>

<a th:href="@{/movies/video (movieId = ${dto.movieId})}">
  <button type="button" class="btn btn-primary">재생</button>
</a>

<div class="form-group">
  <label >번호</label>
  <input type="text" class="form-control" th:value="${dto.movieId}" readonly >
</div>

<div class="form-group">
  <label >제목</label>
  <input type="text" class="form-control" th:value="${dto.title}" readonly >
</div>
<div class="form-group">
  <label >청불</label>
  <input type="text" class="form-control" th:value="${dto.adult}" readonly >
</div>
<div class="form-group">
  <label >내용</label>
  <textarea class="form-control" rows="5" readonly>[[${dto.overview}]]</textarea>
</div>
<div class="form-group">
  <label >감독</label>
  <input type="text" class="form-control" th:value="${dto.directors}" readonly>
</div>
<div class="form-group">
  <label >배우</label>
  <input type="text" class="form-control" th:value="${dto.actors}" readonly>
</div>
<div class="form-group">
  <label >개봉일</label>
  <input type="text" class="form-control" th:value="${#temporals.format(dto.releaseDate, 'yyyy-MM-dd')}" readonly>
</div>

<a th:href="@{/movies/modify (movieId = ${dto.movieId})}" sec:authorize="hasRole('ROLE_ADMIN')">
  <button type="button" class="btn btn-primary">수정</button>
</a>

<a th:href="@{/movies/list?search}">
  <button type="button" class="btn btn-info">목록으로</button>
</a>

</th:block>

</th:block>
 -->


<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ott</title>

<!-- favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/movie.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">

<!-- jQuery -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- js -->
<script defer th:src="@{/js/scripts.js}"></script>
<script defer src="/js/movie.js"></script>

<!-- font awesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- swiper -->
<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- gsap -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

<style>
#header {
	background-color: #060606;
}
</style>
</head>
<body>
	<div class="wrap">

		<th:block
			th:replace="~{/common/header :: setContent(~{this::content})}"></th:block>

		<!-- 섹션1 메인 영상 -->
		<div class="movie_wrap">
			<!-- 영화 영상 -->
			<div class="vod_box">
				<div class="vod_box-iframe">
					<iframe
						th:src="@{https://www.youtube.com/embed/{video}?autoplay=1&mute=1(video=${dto.videoPath})}" allow="autoplay" style="background: #FFFFFF; border: 0px; margin: 0px; padding: 0px;">
					</iframe>
				</div>
			</div>

			<!-- 영화 정보 -->
			<div class="movie_text">
				<h3 th:text="${dto.title}"></h3>
				<span>청소년 관람: <span th:text="${dto.adult}"></span>
				</span> <span>감독: <span th:text="${dto.directors}"></span></span>
				<!-- 출연배우 부분 -->
				<div>
					<span>출연배우:
						<p class="collapsible-text actors" th:text="${dto.actors}">루피타
							뇽오, 페드로 파스칼, Kit Connor, 빌 나이, 스테파니 수, Matt Berry, 빙 레임스, 마크 해밀,
							캐서린 오하라, Boone Storm, Alexandra Novelle, Raphael Alejandro,
							Paul-Mikél Williams, Eddie Park, 디 브래들리 베이커, Randy Thom, Avrielle
							Corti, Keston John, 맥스 미틀먼, Piotr Michael, Alessandro Beghi,
							Tiago Martinez, Becca Last, Madelyn Turpin, Kayleigh Rayne,
							Isabelle Tupin, Beckett Blomberg, Damon Fung, King Moore, Collin
							Erker</p>
					</span>

					<button class="show-more-btn actors-btn">더보기</button>
				</div>
				<!-- 줄거리 부분 -->
				<div>
					<span>줄거리: </span>
					<p class="collapsible-text synopsis" th:text="${dto.overview}">우연한
						사고로 거대한 야생에 불시착한 로봇 로즈는 주변 동물들의 행동을 배우며 낯선 환경 속에 적응해 가던 중, 사고로 세상에
						홀로 남겨진 아기 기러기 브라이트빌의 보호자가 된다. 로즈는 입력되어 있지 않은 새로운 역할과 관계에 낯선 감정을
						마주하고 겨울이 오기 전에 남쪽으로 떠나야 하는 브라이트빌을 위해 동물들의 도움을 받아 이주를 위한 생존 기술을
						가르쳐준다. 그러나 선천적으로 몸집이 작은 브라이트빌은 짧은 비행도 힘겨워 하는데...</p>
					<button class="show-more-btn synopsis-btn">더보기</button>
				</div>
				
				<a class="movie_btn-modify" th:href="@{/movies/modify (movieId = ${dto.movieId})}" sec:authorize="hasRole('ROLE_ADMIN')">
				  <button type="button" class="btn btn-primary">영화정보 수정</button>
				</a>

				<!-- 영화 배경이미지 -->
				<div class="movie_text-img">
					<img
						th:src="@{https://image.tmdb.org/t/p/original{backdrop}(backdrop=${dto.backdropPath})}"
						alt="" width="100%">
				</div>

			</div>

			<!-- 영화들 -->
			<div class="movie_content">
				<h3>추천영화</h3>
				<div class="movie_content-box">
					<div>
						<a th:href="@{/movies/read(movieId=${list[79].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[79].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[81].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[81].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[101].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[101].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[83].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[83].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[96].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[96].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[99].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[99].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[106].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[106].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[110].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[110].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[111].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[111].posterPath})}"
							alt="영화포스터"></a>
					</div>
					<div>
						<a th:href="@{/movies/read(movieId=${list[89].movieId})}"><img
							th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[89].posterPath})}"
							alt="영화포스터"></a>
					</div>
				</div>
			</div>

		</div>

		<th:block
			th:replace="~{/common/footer :: setContent(~{this::content})}"></th:block>
	</div>
</body>

</html>

