<!-- <!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
	<th:block th:fragment="content">
		<div sec:authorize="isAnonymous()">
		
    		<h1>최고의 스트리밍 서비스</h1>
    		<h1>무한한 컨텐츠</h1>
    		<div style="width:100%; display: flex; flex-wrap: wrap;">
    
    		
			    <div th:each="dto : ${list}" style="padding: 3px; background-color: black;">
			       	<img th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${dto.posterPath})}" alt="" width="250px">
			    </div>
			
			</div>
			
		</div>
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
		
    		<h1>영화 인기순 정렬</h1>
			<div style="width:100%; display: flex; flex-wrap: wrap;">
	    
			    <div th:each="dto : ${list}" style="padding: 3px; background-color: black;">
			        <a th:href="@{/movies/read(movieId=${dto.movieId})}">
			       		<img th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${dto.posterPath})}" alt="" width="250px">
			       	</a>
			    </div>
			
			</div>
		</div>
	</th:block>
</th:block> -->


<!DOCTYPE html>
<html lang="ko">

<th:block th:replace="~{/common/head :: setContent(~{this::content})}"></th:block>

<body>
	<div class="wrap">

		<th:block
			th:replace="~{/common/header :: setContent(~{this::content})}"></th:block>

		<section class="section1">
			<div class="section1_wrap">
				<div class="section1_box">
					<iframe class="section1_box-vod"
						th:src="@{https://www.youtube.com/embed/{video}?autoplay=1&mute=1&loop=1&controls=0&playlist={video}(video=${list[24].videoPath})}"
						allow="autoplay; loop"> </iframe>

					<div class="section1_box-title section1_box-titlePa">
						<h1>[[${list[24].title}]]</h1>
						<a th:href="@{/movies/read(movieId=${list[24].movieId})}"> <i
							class="fa-solid fa-circle-info"></i>상세정보
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="section section2">
			<div class="section2_wrap section_padding">
				<div class="section_title section2_title">
					<h3>인기영화</h3>
				</div>
				<div class="swiper-container section2_swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide section2-slide1">
							<a th:href="@{/movies/read(movieId=${list[0].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[0].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide2">
							<a th:href="@{/movies/read(movieId=${list[1].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[1].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide3">
							<a th:href="@{/movies/read(movieId=${list[2].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[2].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide4">
							<a th:href="@{/movies/read(movieId=${list[3].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[3].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide5">
							<a th:href="@{/movies/read(movieId=${list[4].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[4].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide6">
							<a th:href="@{/movies/read(movieId=${list[5].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[5].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide7">
							<a th:href="@{/movies/read(movieId=${list[6].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[6].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide8">
							<a th:href="@{/movies/read(movieId=${list[7].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[7].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide9">
							<a th:href="@{/movies/read(movieId=${list[8].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[8].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section2-slide10">
							<a th:href="@{/movies/read(movieId=${list[59].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[59].posterPath})}"
								alt="영화포스터"></a>
						</div>
					</div>
					<div class="swiper-button-next swiper-button-next2"></div>
					<div class="swiper-button-prev swiper-button-prev2"></div>
				</div>
			</div>
		</section>

		<section class="section section3">
			<div class="section3_wrap section_padding">
				<div class="section_title section3_title">
					<h3>액션영화</h3>
				</div>
				<div class="swiper-container section3_swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide section3-slide1">
							<a th:href="@{/movies/read(movieId=${list[10].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[10].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide2">
							<a th:href="@{/movies/read(movieId=${list[11].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[11].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide3">
							<a th:href="@{/movies/read(movieId=${list[12].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[12].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide4">
							<a th:href="@{/movies/read(movieId=${list[13].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[13].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide5">
							<a th:href="@{/movies/read(movieId=${list[14].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[14].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide6">
							<a th:href="@{/movies/read(movieId=${list[15].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[15].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide7">
							<a th:href="@{/movies/read(movieId=${list[16].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[16].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide8">
							<a th:href="@{/movies/read(movieId=${list[17].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[17].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide9">
							<a th:href="@{/movies/read(movieId=${list[18].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[18].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide10">
							<a th:href="@{/movies/read(movieId=${list[19].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[19].posterPath})}"
								alt="영화포스터"></a>
						</div>
					</div>
					<div class="swiper-button-next swiper-button-next3"></div>
					<div class="swiper-button-prev swiper-button-prev3"></div>
				</div>
			</div>
		</section>

		<section class="section section3">
			<div class="section3_wrap section_padding">
				<div class="section_title section3_title">
					<h3>스릴러영화</h3>
				</div>
				<div class="swiper-container section3_swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide section3-slide1">
							<a th:href="@{/movies/read(movieId=${list[20].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[20].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide2">
							<a th:href="@{/movies/read(movieId=${list[21].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[21].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide3">
							<a th:href="@{/movies/read(movieId=${list[22].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[22].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide4">
							<a th:href="@{/movies/read(movieId=${list[23].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[23].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide5">
							<a th:href="@{/movies/read(movieId=${list[24].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[24].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide6">
							<a th:href="@{/movies/read(movieId=${list[25].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[25].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide7">
							<a th:href="@{/movies/read(movieId=${list[26].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[26].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide8">
							<a th:href="@{/movies/read(movieId=${list[27].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[27].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide9">
							<a th:href="@{/movies/read(movieId=${list[28].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[28].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide10">
							<a th:href="@{/movies/read(movieId=${list[29].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[29].posterPath})}"
								alt="영화포스터"></a>
						</div>
					</div>
					<div class="swiper-button-next swiper-button-next3"></div>
					<div class="swiper-button-prev swiper-button-prev3"></div>
				</div>
			</div>
		</section>

		<section class="section section3">
			<div class="section3_wrap section_padding">
				<div class="section_title section3_title">
					<h3>고전영화</h3>
				</div>
				<div class="swiper-container section3_swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide section3-slide1">
							<a th:href="@{/movies/read(movieId=${list[150].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[150].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide2">
							<a th:href="@{/movies/read(movieId=${list[151].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[151].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide3">
							<a th:href="@{/movies/read(movieId=${list[152].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[152].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide4">
							<a th:href="@{/movies/read(movieId=${list[153].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[153].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide5">
							<a th:href="@{/movies/read(movieId=${list[154].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[154].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide6">
							<a th:href="@{/movies/read(movieId=${list[163].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[163].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide7">
							<a th:href="@{/movies/read(movieId=${list[164].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[164].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide8">
							<a th:href="@{/movies/read(movieId=${list[157].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[157].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide9">
							<a th:href="@{/movies/read(movieId=${list[158].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[158].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide10">
							<a th:href="@{/movies/read(movieId=${list[165].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[165].posterPath})}"
								alt="영화포스터"></a>
						</div>
					</div>
					<div class="swiper-button-next swiper-button-next3"></div>
					<div class="swiper-button-prev swiper-button-prev3"></div>
				</div>
			</div>
		</section>

		<section class="section section3">
			<div class="section3_wrap section_padding">
				<div class="section_title section3_title">
					<h3>SF판타지</h3>
				</div>
				<div class="swiper-container section3_swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide section3-slide1">
							<a th:href="@{/movies/read(movieId=${list[50].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[50].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide2">
							<a th:href="@{/movies/read(movieId=${list[41].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[41].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide3">
							<a th:href="@{/movies/read(movieId=${list[42].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[42].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide4">
							<a th:href="@{/movies/read(movieId=${list[43].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[43].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide5">
							<a th:href="@{/movies/read(movieId=${list[44].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[44].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide6">
							<a th:href="@{/movies/read(movieId=${list[55].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[55].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide7">
							<a th:href="@{/movies/read(movieId=${list[46].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[46].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide8">
							<a th:href="@{/movies/read(movieId=${list[47].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[47].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide9">
							<a th:href="@{/movies/read(movieId=${list[48].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[48].posterPath})}"
								alt="영화포스터"></a>
						</div>
						<div class="swiper-slide section3-slide10">
							<a th:href="@{/movies/read(movieId=${list[49].movieId})}"><img
								th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[49].posterPath})}"
								alt="영화포스터"></a>
						</div>
					</div>
					<div class="swiper-button-next swiper-button-next3"></div>
					<div class="swiper-button-prev swiper-button-prev3"></div>
				</div>
			</div>
		</section>

		<th:block
			th:replace="~{/common/footer :: setContent(~{this::content})}"></th:block>
	</div>
</body>

</html>

